# Git & docs
.git
.gitignore
docs/
*.md

# Python cache
__pycache__/
*.pyc

# Logs & local data
db/logs/
samples/
results/
*.parquet
*.csv
*.log

# C++ build cache
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# OS noise
*.swp
*.DS_Store
