# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.log

# C++ Build
build/
*.o
*.out
*.a
*.so
*.dSYM/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Doxygen output
docs/html/
docs/latex/
docs/themes/doxygen-awesome-css/.git/  # In case you cloned it

# Data / Logs
db/logs/
db/db.parquet

# Docker
docker-compose.override.yml
clickhouse_data/
grafana_data/

# Other
*.swp
*.bak
*.DS_Store
.env
